.circular {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .circular img {
    width: 50%;
    height: 50%;
  }
  
  .know-more-btn {
    background-color: #16C6EC;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  .know-more-btn:hover {
    background-color: #0f8fb9;
  }
  