@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Gilroy font with different weights (e.g., SemiBold, Regular) */
@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-SemiBold.ttf') format('truetype'); /* Use correct font path */
  font-weight: 600; /* Use the appropriate weight for SemiBold */
  font-style: normal;
}

/* Applying Gilroy font across the website */
:root {
  font-family: 'Gilroy', sans-serif;
}

body {
  font-family: 'Gilroy', sans-serif;
}